.hero-section {
  width: 100%;
}

.hero-slider {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  position: relative;
  overflow: hidden;
}

.fade-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active-slide {
  opacity: 1;
  z-index: 1;
}

.fade-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.main-nav {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.lina-bakery-logo img {
  width: 300px;
  max-width: 100%;
  display: block;
}

.ul-list {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: -20px 0 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
}

.ul-list li {
  margin: 0;
  padding: 0;
}

.ul-list a {
  text-decoration: none;
  color: orangered;
}

.ul-list a:hover {
  opacity: 0.8;
}

/* middle banner part */

.middle-section-banner {
  width: 70%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.leftPicture,
.rightPicture {
  flex: 1;
  text-align: center;
}

.leftPicture img,
.rightPicture img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.middle-section-banner p {
  margin-top: 14px;
  font-size: 30px;
  color: orangered;
}

/* main products part */

.products-Gride {
  width: 75%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  
}

.product {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.each-product-info{
  display: flex;
  gap: 10px;
}
.products-Gride .product img {
  width: 85%;
  height: 85%;
  object-fit: contain;
  display: block;
}

.new-discount-product {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.new-discount-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

