.hero-section{
  width: 100%;
 
}
.hero-slider{
  width: 100%;
  height:1400px;/*1300*/
  position: relative;
  overflow: hidden;
}
.slide-page{
  width: 100%;
  height: 100%;
}
.slide-page img{
  
 width: 100%;
 height: 100%;
}
.top-header{
  position:absolute;
  display: flex;
  justify-content: end;
  gap: 40px;
  font-size: 22px;
  top: 20px;
  right: 40px;
  font-weight: 150;
  color:orangered;
  
}
.language-dropdown-wrapper{
  position: relative;
}
.language-dropdown{
  position: absolute;
  top: 100%;
  background: white;
  padding: 10px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  z-index: 100;

}
.main-nav{
  top: 10px;
  left: 40%;
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.lina-bakery-logo img{
  width: 300px;
}
.ul-list{
  display: flex;
  gap: 35px;
  color: orangered;
  font-size: 20px;
  margin-top: -25px;
}

/*middle banner part*/

.middle-section-banner{
  display: flex;
  width: 60%;
  margin: 70px auto;
  background-color:pink;
}
.middle-section-banner p{
  font-size: 30px;
  color:orangered;
}

/*main products part*/
.products-Gride{
  width: 75%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  background-color: blue;
}
.product{
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.products-Gride .product img{
  width: 85%;
  height: 85%;
  object-fit: contain;
  display: block;
}

.new-discount-product{
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-color: pink;
}
.pages-bottom{
  
 
  width: 100%;
  height: 500px;
  padding-top: 80px;
  
  
}

.footer-information{
  width: 80%;
  margin:  0px auto;
  
  display: flex;
  justify-content:space-evenly;
  height: 70%;
  font-size: 17px;
  font-weight: 200;
  color:orangered;
}
.footer-header{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}